@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700;800;900&display=swap');

:root {
    --fontprimary: 'Poppins', sans-serif;
    --primary: rgb(30, 30, 30);
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: var(--primary);
    line-height: 1.5;
    font-family: var(--fontprimary);
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.header {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    width: 100%;
    position: relative;
}

.header:after {
    content: "";
    clear: both;
    display: block;
}

.logo {
    float: left;
    padding: 26px 0 26px;
}

.logo a {
    background: linear-gradient(
        to right,
        #9b64e2 20%,
        #00affa 30%,
        #eea040 70%,
        #7cda4a 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    display: block;
    padding: 0 0 0 80px;
}

nav {
    float: right;
}

nav > ul {
    float: left;
    position: relative;
    padding: 0 75px 0 0;
}
nav li {
    list-style: none;
    float: left;
}

nav li a {
    float: left;
    padding: 35px;
}

nav li a:hover {
    background: #212121;
}

nav li ul {
    display: none;
}

nav li:hover ul {
    display: inline;
}

nav li li {
    float: none;
}

#menu-icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    margin-right: 30px;
    display: none;
}

#menu-icon span {
    border: 2px solid #fff;
    width: 30px;
    margin-bottom: 5px;
    display: block;
    -webkit-transition: all 0.2s;
    transition: all 0.1s;
}

@media only screen and (max-width: 1170px) {
  nav > ul > li > a {
    padding: 30px 15px;
  }
}

@media only screen and (min-width: 960px) {
  nav {
    display: block !important;
  }
}

@media only screen and (max-width: 959px) {
  nav {
    display: none;
    width: 100%;
    clear: both;
    float: none;
    max-height: 400px;
    overflow-y: scroll;
  }

  #menu-icon {
    display: inline;
    top: 45px;
    right: 20px;
    cursor: pointer;
  }

  #menu-icon.active .first {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 10px;
  }

  #menu-icon.active .second {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: relative;
    top: -9px;
  }

  #menu-icon.active .third {
    display: none;
  }

  nav {
    padding: 10px;
  }

  nav ul {
    float: none;
  }

  nav li {
    float: none;
    padding: 0 0 0 70px;
  }

  nav ul li a {
    float: none;
    padding: 8px;
    display: block;
  }

  .header nav ul ul {
    display: block;
    position: static;
    background: none;
    border: none;
    padding: 0;
  }
  .header nav a {
    color: #fff;
    padding: 8px;
  }
  .header nav a:hover {
    background: #212121;
    color: #ffffff;
  }
  .header nav ul li li a:before {
    content: "- ";
  }
}

/*PROFILE*/

.container-profile {
    display: flex;
    padding: 150px 0;
    justify-content: center;
    text-align: center;
}

.profile {
    padding: 15px 0;
}

.foto img {
    border-radius: 50%;
    height: 200;
    width: 200;
}

.nama {
    font-family: var(--fontprimary);
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
    color: white;
}

@keyframes textShine {
    0% {
        background-position: 0% 70%;
    }
    100% {
        background-position: 100% 50%;
    }
}